aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
async-timeout==4.0.2
attrs==23.1.0
blinker==1.6.2
blis==0.7.9
blosc2==2.0.0
cachetools==5.3.1
catalogue==2.0.8
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
confection==0.0.4
contourpy==1.1.0
cycler==0.11.0
cymem==2.0.7
Cython==0.29.35
datasets==2.13.1
decorator==5.1.1
dill==0.3.6
en-core-sci-scibert @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_scibert-0.5.1.tar.gz#sha256=db8b003cdfb5919410f80e9b62db8b727dada37c372cebf54786fcd70cd6ccd4
filelock==3.12.2
Flask==2.3.2
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.31
grandalf==0.8
htbuilder==0.6.1
huggingface-hub==0.15.1
idna==3.4
importlib-metadata==6.7.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
kaleido==0.2.1
kiwisolver==1.4.4
langcodes==3.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mdurl==0.1.2
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
netgraph==4.12.11
networkx==3.1
numexpr==2.8.4
numpy==1.25.0
orca==1.8
packaging==23.1
pandas==2.0.2
pathy==0.10.2
patsy==0.5.3
Pillow==9.5.0
plotly==5.15.0
preshed==3.0.8
protobuf==4.23.3
psutil==5.9.5
py-cpuinfo==9.0.0
pyarrow==12.0.1
pydantic==1.10.9
pydeck==0.8.1b0
Pygments==2.15.1
Pympler==1.0.1
pyparsing==3.1.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-louvain==0.16
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
rdflib==6.3.2
rectangle-packer==2.0.1
regex==2023.6.3
requests==2.31.0
retrying==1.3.4
rich==13.4.2
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sklearn==0.0.post5
smart-open==6.3.0
smmap==5.0.0
spacy==3.4.4
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-transformers==1.2.1
srsly==2.4.6
st-annotated-text==4.0.0
statsmodels==0.14.0
streamlit==1.23.1
streamlit-agraph==0.0.45
sympy==1.12
tables==3.8.0
tenacity==8.2.2
thinc==8.1.10
threadpoolctl==3.1.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torch-geometric==2.3.1
tornado==6.3.2
tqdm==4.65.0
transformers==4.26.1
typer==0.7.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==4.3
urllib3==2.0.3
validators==0.20.0
wasabi==0.10.1
Werkzeug==2.3.6
xxhash==3.2.0
yarl==1.9.2
zipp==3.15.0
